@charset "utf-8";
/*全体*/
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  color: #666;
}
#header,#calc{
  box-sizing: border-box;
  text-align: center;
}
/*ヘッダー*/
#header {
  font-size: 24px;
  padding: 0rem;
}
/*テキスト*/
input{
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  font-size: 3rem;
  text-align: center;
  padding: 0 0.75rem;
  margin-bottom: 10px;
}
/*ボタン関係*/
button{
  font-size: 18px;
  width: 19%;
  height: 3.5rem;
  color: #333;
  vertical-align: middle;
  background: aliceblue;
  border: 2px solid gray;
  margin-bottom: 5px;
}
button:hover{
  background-color: lightgray;
}

table{
  font-size: 25px;
  text-align: center;
}

button.agriculture {
  border: 2px solid green;
}
button.agriculture:hover{
  background-color: palegreen;
}
button.industry {
  border: 2px solid blue;
}
button.industry:hover{
  background-color: skyblue;
}
button.commerce {
  border: 2px solid red;
}
button.commerce:hover{
  background-color: rgb(254, 192, 188);
}
button.protection {
  border: 2px solid rgb(252, 252, 83);
}
button.protection:hover{
  background-color: khaki;
}

span.char {
  font-family: Arial;
}